.selected {
    background-color: brown;
    color: #FFF;
}
textarea {
    resize: none;
    rows:"1";
}

.actionbutton{

}

#parent{
    display:table;
    width:50%;
}

#parent div{
    display:table-cell;
}

.disk {
    border: 4px solid black;
    width: 400px;
    padding: 2px;
}


td.whatever4{
    text-align: center;
}
.watched{
    color: #990000;
}
.tableshows tr:hover {
    cursor: pointer;
}
.unwatched{
    color: #009900;
}
.showrow{
    cursor:pointer;
}

.tableshows{
    width:auto;
    padding: 0;
    margin: 0;
}
.row {
    text-align: center;
}
.btn {
    display: inline-block;
    margin-right: 6px;
    background-color: #EEE;
}
div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  /*height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content.
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */

  padding-bottom:100%;
  margin-bottom:-100%;
}
.element{
   width:90%;
   word-wrap: break-word;
}
.element:nth-child(odd) {
   background-color: rgba(39,161,202,0.1);
}
.title {
    width:100%;
    background-color: #27A1CA;
    text-align:center;
    left:50%;
}
.clear {
    clear: both;
}
.console {
    width:100%;
}
.used {
    display: block;
    background: rgba(255,0,0,0.3);
    text-align: right;
    padding: 0 0 0 0;
}
.usedtext{
    margin: 2;
}

.onoffswitch {
    position: relative;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #999999;
    border-radius: 0;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > span {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #C2C2C2;
    color: #FFFFFF;
}

.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #C2C2C2;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 40px;
    margin: 0;
    text-align: center;
    border: 0 solid #999999;
    border-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

.onoffswitch-active .onoffswitch-switch {
    background: #27A1CA;
    left: 0;
}

.onoffswitch-inactive .onoffswitch-switch {
    background: #A1A1A1;
    right: 0;
}

.onoffswitch-active .onoffswitch-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 40px;
    border-style: solid;
    border-color: #27A1CA transparent transparent #27A1CA;
    border-width: 15px 10px;
}

.onoffswitch-inactive .onoffswitch-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 40px;
    border-style: solid;
    border-color: transparent #A1A1A1 #A1A1A1 transparent;
    border-width: 15px 10px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.dot {
overflow: hidden;
    border: 2px solid #666;
    padding-top: 6px;
padding-left: 6px;
width: 32px;
height: 32px;
display: inline-block;
border-radius: 50%;
margin: 0.2em 0.4em 0.2em 0;
vertical-align:middle;
line-height: 32px;
background: #cccccc;
-webkit-box-shadow: inset 0 -6px 6px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
-moz-box-shadow: inset 0 -6px 6px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
box-shadow: inset -6px -6px 6px rgba(0, 0, 0, 0.3), inset 3px 3px 6px rgba(255, 255, 255, 0.3);
}
.dot-inner {
background: white;
opacity:0.35;
filter:alpha(opacity=35);
-webkit-box-shadow: 0 0 6 3 rgba(255, 255, 255, 1);
-moz-box-shadow: 0 0 6 3 rgba(255, 255, 255, 1);
box-shadow: 0 0 6 3 rgba(255, 255, 255, 1);
border-radius: 50%;
overflow: hidden;
width: 6px;
height: 6px;
display: block;
line-height: 0;
}
.dot-red {
background: #990000;
}
.dot-green {
background: #009900;
}
.spinnercontainer {
    width : 100px;
    height : 100px;
}